body {
  width: 100%;
  margin: 0;
  font-family: verdana, sans-serif;
  font-size: 13px;
}

article {
  padding: 5px;
  margin-top: 5px;
  margin: auto;
  max-width: 500px;
}

article h1 {
  text-align: center;
}

header {
  padding: 0px;
  text-align: center;

}

aside {
  margin-top: 5px;
  margin:auto;
  padding: 5px;
  text-align: center;
  font-style: italic;
  max-width: 500px;
}

section {
  padding: 5px;
  margin-top: 5px;
  margin: auto;
  max-width: 500px;
}

section h1 {
  text-align: center;
}

footer {
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

nav {
  text-align: center;

  padding-bottom: 20px;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

a,
a:hover,
a:visited,
a:link {
  color: #F26430;
  text-decoration: none;
}

div {
  text-align: center;
}

div ul li img {
  height: 100px;
  width: 100px;
}
