body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-family: arial, sans-serif;
  font-size: 13px;
}

nav {
  width: 100%;
  margin: 20px 0;
}

nav ul {
  padding: 0; /* Remove the default padding */
  list-style: none;
  text-align: center;
  overflow: hidden;
}

nav ul li {
  float: left;
  width: 20%;
}

nav ul li a {
  text-align: center;
  padding: 8px 0;
  display: block;
  width: 100%;
  background: -webkit-linear-gradient(top, #A7D8D8 0%, #69D2E7 100%);
}

nav ul li a,
nav ul li a:focus,
nav ul li a:visited,
nav ul li a:hover,
nav ul li a:active {
  color: #000;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:active {
  background: -webkit-linear-gradient(top, #B8E9E9 0%, #7AE3F8 100%);
}

nav ul li:first-child a {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

nav ul li:last-child a {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
